:root {
  --darkColor: #000;
  --lightColor: #fff;
  --primaryColor: #5f506b;
  --secondaryColor: #76949f;
  --accentPrimColor: #6a6b83;
  --accentSecColor: #86bbbd;
  --defaultSpacing: 1.6rem;
  --defaultFontFamily: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--defaultFontFamily);
  color: var(--darkColor);
  background-color: whitesmoke;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 3.2rem 1.6rem;
}

.header h1 {
  margin-bottom: 0.8rem;
}



.footer {
  text-align: center;
  padding: 2.4rem 1.6rem;
}
